<div class="container-fluid">
    <div class="col" style="text-align: center;">
        <h2>ACCOUNT OPTIONS</h2>
        <div class="col-sm-4">

        </div>
        <hr>

        <div class="row">
            <h4>Click appropriate button</h4>
            <div class="col-sm-4">
                <a href="account/sign-in" class="btn btn-dark">
                    Sign In
                    <i class="fas fa-user"></i>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="account/sign-up" class="btn btn-dark">
                    Sign Up
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>