<div class="container-fluid">
    <div class="col" style="text-align: center;">
        <img src="../../../assets/img/shopping-cart.png" width="100" height="100" class="d-inline-block align-top"
            alt="">
        <h2 style="color: #0d6777;">ACCOUNT OPTIONS</h2>
        <div class="col-sm-4">

        </div>
        <hr>

        <div class="row sm-9">
            <h5 class="col-sm-3">Select Action :</h5>
            <div class="col-sm-3">
                <a href="account/sign-in" class="btn btn-dark">
                    Sign In
                    <i class="fas fa-user"></i>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="account/sign-up" class="btn btn-dark">
                    Sign Up
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>