<div class="container-fluid" style="height: 100%;">
    <div class="row">
        <div class="col">
            <div style="color: #0d6777; align-content: center;">
                <h3>ADD ITEM TO LIST</h3>
                <hr>
            </div>

            <!-- original form -->
            <div style="width: 400px; border: #0d6777; ">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <!-- name -->
                        <label for="item">Item Name: </label>
                        <input type="text" class="form-control" placeholder="Item" id="item" required
                            [(ngModel)]="item.item" name="item">

                        <!-- $ price -->
                        <label for="item">Price: </label>
                        <input type="number" class="form-control" placeholder="Price" id="price" required
                            [(ngModel)]="item.price" name="price">
                    </div>
                    <hr>
                    <!-- submit button -->
                    <div class="btn-group">
                        <button type="submit" class="btn btn-dark"><i class="fas fa-plus-circle"></i> Add</button>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
        <!-- content from firebase -->
        <div class="col" style="color: #0d6777; align-content: center;">
            <h3>SHOPPING LIST </h3>
            <hr>
            <div class="card text-justify" style="width: 24rem;">
                <div class="card-header">
                    <img src="../../../assets/img/supermarket.svg" width="30" height="30"
                        class="d-inline-block align-top" alt="">
                    ITEMS
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <pre
                            *ngFor="let item of items | async; let i = index;">{{ i + 1 }}. {{item.content[0]}}  --->  {{item.content[1]}} Ksh.</pre>
                    </li>
                </ul>
                <br>
            </div>
        </div>
        <br>
    </div>
</div>
<hr>