<div class="container-fluid" style="height: 100%;">
    <div class="row">
        <div class="col">
            <div style="color: #0d6777; align-content: center;">
                <h3>ADD ITEM TO LIST</h3>
                <hr>
            </div>

            <!-- original form -->
            <div style="width: 450px; border: #0d6777; ">
                <form [formGroup]="this.itemsService.form">
                    <label> Item Name:
                        <input placeholder="Name" formControlName="item_name" type="text" class="form-control">
                    </label>
                    <label>
                        Price (Ksh):
                        <input placeholder="Price" formControlName="item_price" type="number" class="form-control">
                    </label>
                    <div>
                        <button type="button" class="btn btn-dark" (click)="onSubmit()"><i
                                class="fas fa-plus-circle"></i> Add </button>
                        <hr>
                    </div>
                </form>
            </div>
        </div>
        <!-- content from firebase -->
        <div class="col" style="color: #0d6777; align-content: center;">
            <h3>SHOPPING LIST </h3>
            <hr>
            <div class="card text-justify" style="width: 26rem;">
                <div class="card-header">
                    <img src="../../../assets/img/supermarket.svg" width="30" height="30"
                        class="d-inline-block align-top" alt="">
                    <pre><strong><h5>ITEMS</h5></strong></pre>

                </div>
                <div *ngIf="items?.length > 0; else noItems">
                    <ul *ngFor="let item of items; let i = index" class="list-group list-group-flush">
                        <li class="list-group-item">
                            <pre> {{i + 1}}. {{item.item_name}}  -----> {{item.item_price}} Ksh.</pre>
                        </li>
                    </ul>
                    <br>
                    <pre><strong><h6> Total Cost: Ksh.</h6></strong></pre>
                </div>
                <ng-template #noItems>
                    <pre>No items in shopping list</pre>
                </ng-template>
                <br>
            </div>
        </div>
        <br>
    </div>
</div>
<hr>